    body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #f8f7f4;
  }
  
  .App {
    
    font-family: sans-serif;
    text-align: center;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #00A871;
    transition: all 0.5s ease;
    border-right: 1px #4d606e solid;
    padding-top: 15px;
    float: right;
    z-index: 1; 
  }
   
  .sidebar--open {
    width: 250px;
    transition: all 0.5s ease;
  }
  
  .sidebar-position {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 12px;
    text-align: left;
    z-index: 1; 
    position: relative; 
  }

  .sidebar-position:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #3f5159;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    top: 50%; 
    left: 100%; 
    transform: translateY(-50%); 
    white-space: nowrap;
    font-size: 14px;
  }
  
  .sidebar-position:hover {
    background-color: #3f5159;
    border-right: 5px #ffffff solid;
  }

  .sidebar-position span {
    width: 0;
    height: 0;
    padding: 0 15px;
    transition: width 0.3s ease;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar--open .sidebar-position span {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .sidebar svg {
    color: #ffffff;
    min-width: 25px;
  }
  
  .sidebar span {
    width: 0;
    height: 0;
    padding: 0 15px;
    transition: width 0.3s ease;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .sidebar--open .sidebar-position span {
    display: block;
    width: 100%;
    height: auto;
    font-family: Arial;
  }
  
  .trigger {
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 17px;
    margin-bottom: 15px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .user-avatar {
    border-radius: 50%;
    display: block;
  }
  
  .user-name {
    display: inline;
    margin-left: 10px;
  }
  
  .user-info--open {
    justify-content: center;
    padding: 15px 0;
  }
  
  .trigger:hover {
    background-color: #3f5159;
    border-right: 0px #dad7cd solid;
  }
  
  .card-view {
    width: calc(100% - 0px);
    height: 60px;
    background: rgba(88, 129, 87, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    transition: width 0.5s ease-in;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border: 1px solid rgb(7, 110, 50); ;
  }
  
  h1 {
    color: #063a21;
    font-size: 34px;
    text-align: center;
    margin: 0;
    cursor: pointer;
    font-family: Arial;
  } 
  
  @media (max-width: 200px) {
    .card-view {
        width: calc(100% - 250px);
        margin-left: 250px;
        margin-right: 20px;
      }
  
    .page {
        position: relative;
        overflow-x: hidden;
        transition: margin-left 0.5s ease-in-out;
        margin-left: 0;
      }
  
    .page.open {
      margin-left: 250px;
    }
  
    .trigger {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
 
    .page.page--open {
      margin-left: 250px;
    }
  }
  
  .sidebar-logout-position {
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    text-align: left;
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 1; 
    padding-bottom: 15px;
  }

.sidebar-logout-position:hover {
    background-color: #3f5159;
    border-right: 5px #ffffff solid;
}

.sidebar-logout-position svg {
    color: #ffffff;
    min-width: 25px;
}

.sidebar-logout-position span {
    width: 0;
    height: 0;
    padding: 0 15px;
    transition: width 0.5s ease;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar--open .sidebar-logout-position span {
    display: block;
    width: 100%;
    height: auto;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 30px;
  width: calc(100% - 30px);
  padding: 15px;
  word-break: break-word;
  box-sizing: border-box;
  transition: all 0.5s ease;
  z-index: 0; 
}
.sidebar--open + .content {
  margin-left: 230px;
  width: calc(100% - 230px);
}

.floating-button-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
}

.floating-add-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #00A871;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
  box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.75);
}

.floating-add-button:hover {
  transform: scale(1.1);
  background-color: #3f5159;
}

.floating-button-container .indicator-animation {
  opacity: 1;
  pointer-events: auto;
  text-align: center;
  display: block;
}

.indicator-animation {
  position: absolute;
  top: 110%;
  right: -25%;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  animation: fade-in 2s ease forwards;
  cursor: pointer;
  pointer-events: none;
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.floating-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 20px;
  background-color: #01a06b27;
  backdrop-filter: blur(50px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  max-width: 600px; 
  width: 90%; 
  max-height: 90%; 
  overflow-y: auto; 
  opacity: 0; 
  transition: opacity 0.3s ease;
  display: none;
  border: 1px solid rgb(94, 93, 93);
}

.floating-form.visible {
  opacity: 1;
  display: block;
}

.floating-form .form-container {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.floating-form .form-group {
  margin-bottom: 10px;
  margin-right: 20px;
}

.floating-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.floating-form .form-control {
  width: 100%;
  height: fit-content;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.floating-form .btn {
  margin-right: 10px;
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 100%; 
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: 'Poppins';
  font-size: 14px;
}

.floating-form .btn-primary {
  color: #fff;
  border: none;
  background: #3f5159;
}

.floating-form .btn-primary:hover {
  background-color: #00A871;
}

.floating-form .btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.floating-form .btn-secondary:hover {
  background-color: #dad7cd;
}

@media (max-width: 768px) {
  .floating-form {
    max-width: 90%; 
  }
}

@media (max-width: 480px) {
  .floating-form {
    max-width: 100%; 
  }
}

.rewards-container {
  background-color: rgba(88, 129, 87, 0.2); 
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid rgb(7, 110, 50);
  backdrop-filter: blur(30px);
}

.rewards-container h2 {
  font-family: 'Microsoft Sans Serif';
  margin-bottom: 50px;
  align-content: center;
  color: #063a21;
}

.rewards-list .reward-item {
  position: relative;
}

.rewards-list .reward-item:hover::before {
  content: 'Click to add rewards';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  z-index: 1;
  font-size: 14px;
  animation: fade-in 0.8s ease; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rewards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto-fit 1fr));
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .rewards-list {
    grid-template-columns: repeat(3, minmax(20px, 1fr));
  }
}

@media (max-width: 500px) {
  .rewards-list {
    grid-template-columns: repeat(2, minmax(20px, 1fr));
  }
}

@media (max-width: 480px) {
  .rewards-list {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
}

.reward-item {
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
  border: 1px solid rgba(7, 110, 50, 0.349);
}

.reward-item h3 {
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
  color: #063a21;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
}

.reward-item p {
  color: #063a21;
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.reward-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.reward-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.reward-item.selected .reward-item-actions {
  display: block;
}

.reward-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px);
}

.update-button {
  background-color: #dad7cd; 
  color: white; 
  border: none; 
  padding: 8px 16px;
  border-radius: 4px; 
  font-size: 16px; 
  cursor: pointer;
  margin-left: 20px; 
  display: inline-block;
}

.update-button:hover {
  background-color: #b1afab; 
}

.update-button:focus {
  outline: none; 
}

.update-form {
  margin-right: 10px;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  margin-left: 5px;
}

.btn-primary {
  background-color: #00A871;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn:hover {
  background-color: rgb(63, 81, 89)
}

.loading {
  justify-content: center;
}

.tasks-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid rgb(7, 110, 50); ;
  border-radius: 5px;
  background-color:rgba(88, 129, 87, 0.2);
  backdrop-filter: blur(30px);
}

.tasks-container h2 {
  margin-bottom: 50px;
  color: #063a21;
}

.tasks-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 2fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .tasks-list {
    grid-template-columns: 2fr;
  }
}

.task-item {
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(88, 129, 87, 0.2);
  color: #588157;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(7, 110, 50, 0.349);
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.task-item h3 {
  color: #063a21;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
}

.task-item p {
  color: #063a21;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4; 
  font-family: 'Ebrima';
}

.task-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.task-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.task-item.selected .task-item-actions {
  display: block;
}

.task-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px); 
}

.completed-list .completed-item:hover::before {
  content: 'Click to show upload image';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  z-index: 1;
  font-size: 14px;
  animation: fade-in 0.8s ease; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.update-button1 {
  background-color: #dad7cd;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  display: inline-block;
}

.update-button1:hover {
  background-color: #b1afab;
}

.update-button1:focus {
  outline: none;
}

.claim-button {
  background-color: #dad7cd;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}

.claim-button1:hover {
  background-color: #b1afab;
}

.claim-button1:focus {
  outline: none;
}

.delete-button1 {
  background-color: #c05c54;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.delete-button1:hover {
  background-color: #b1afab;
}

.delete-button1:focus {
  outline: none;
}


.request-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.tasks-container h2 {
  font-family: 'Microsoft Sans Serif';
  z-index: 1000;
}

.accept-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:rgba(88, 129, 87, 0.2);
  border: 1px solid rgb(7, 110, 50);
  backdrop-filter: blur(20px);
}
.accept-container h2 {
  font-family: 'Microsoft Sans Serif';
  z-index: 1000;
  color: #063a21;
}

.complete-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:rgba(88, 129, 87, 0.2);
  backdrop-filter: blur(20px);
  border: 1px solid rgb(7, 110, 50);
}
.complete-container h2 {
  font-family: 'Microsoft Sans Serif';
  z-index: 1000;
  color: #063a21;
}

.approved-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid rgb(7, 110, 50);
  backdrop-filter: blur(10px);
}

.approved-container h2 {
  font-family: 'Microsoft Sans Serif';
  z-index: 1000;
  color: #063a21;
}

.user-approved-item {
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
  border: 1px solid rgba(7, 110, 50, 0.349);
}

.user-approved-item h3 {
  color: #063a21;
  color: #063a21;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
}

.user-approved-item p {
  color: #063a21;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.user-approved-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.user-approved-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.user-approved-item .user-approved-item-actions {
  display: block;
}

.user-approved-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px); 
}

.user-approved-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto-fit 1fr));
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .user-approved-list {
    grid-template-columns: repeat(2, minmax(20px, 1fr));
  }
}

@media (max-width: 480px) {
  .user-approved-list {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
}

.reward-claim-item {
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
  border: 1px solid rgba(7, 110, 50, 0.349);
}

.reward-claim-item h3{
  font-size: 1.7rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
  text-align: center;
}

.reward-claim-item p {
  color: #063a21;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.reward-claim-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.reward-claim-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.reward-claim-item.selected .claim-item-actions {
  display: block;
}

.reward-claim-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px); 
}

.claim-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(88, 129, 87, 0.2);
  backdrop-filter: blur(30px);
  border: 1px solid rgb(7, 110, 50);
}

.claim-container h2 {
  font-family: 'Microsoft Sans Serif';
  z-index: 1000;
  color: #063a21;
}

.add-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  width: 95%;
}

.homepage-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid rgb(7, 110, 50); ;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  background-color: rgba(88, 129, 87, 0.2);
}

.homepage-container h2 {
  font-family: 'Microsoft Sans Serif';
  align-content: center;
  text-align: center;
  color: #000000;
}

.annoucement-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(88, 129, 87, 0.2);
  border: 1px solid rgb(7, 110, 50);
  backdrop-filter: blur(10px);
}

.annoucement-container h2 {
  font-family: 'Microsoft Sans Serif';
  margin-bottom: 20px;
  align-content: center;
  text-align: center;
  color: #063a21;
}

.ui-item {
  --bg-color: white;
  --bg-color-light: #e2fced;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
  position: relative;
  background: var(--bg-color);
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.75);
  z-index: 1;
  border-radius: 21px;
  margin: 0 10px 10px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.ui-item .circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.ui-item .circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.ui-item h2 {
  font-family: 'Microsoft Sans Serif';
  font-size: 17px;
  color: #000000;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

@media (max-width: 600px) {
  .ui-item {
    margin: 0 10px 10px; 
  }

  .ui-item .circle {
    width: 80px; 
    height: 80px; 
  }

  .ui-item h2 {
    font-size: 14px; 
    margin-top: 15px; 
  }
}

.ui-item:hover {
  background: linear-gradient(rgba(184, 249, 211, 0.7), rgba(250, 250, 250, 0.4));
  background-color: var(--bg-color);
  transform: scale(1.03);
  color: var(--text-color-hover);
}

.ui-item:hover .circle {
  border-color: #00A871;
  background: var(--bg-color);
}

.ui-item:hover h2 {
  color: var(--text-color-hover);
}

.ui-item:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11), 0 15px 24px var(--box-shadow-color);
}

.blob {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  filter: blur(15px);
  opacity: 0.5;
  transition: transform 5s infinite ease;
}

.blob-1 {
  left: -65px;
  top: -45px;
  background: #59C173;
  transform: rotate(12deg);
}

.blob-2 {
  left: -30px;
  top: 120px;
  background: #A8EB12;
  transform: rotate(20deg);
}

.blob-3 {
  right: -60px;
  bottom: -10px;
  background: #CC2E5C;
  transform: rotate(-10deg);
}

.blob-4 {
  right: -70px;
  top: 20px;
  background: #FFA17F;
  transform: rotate(-25deg);
}

.ui-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 600px) {
  .ui-list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.explore-button {
  background: #00A871;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.explore-button:hover{
  background: linear-gradient(to bottom, #f76b6b, #f3eee6);
}

.explore-button:focus {
  outline: none;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  margin-bottom: 30px;
}

.text:hover {
  background-color: #dad7cd;
}
text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.accept-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-gap: 30px;
}

@media (max-width: 600px) {
  .accept-list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.accept-item {
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(7, 110, 50, 0.349);
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
}

.accept-item h3 {
  color: #063a21;
  font-size: 1.5rem;
  margin: 0;
  margin-top: -32px;
  margin-bottom: 15px;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
  text-align: center;
}

.accept-item p {
  color: #063a21;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.accept-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.accept-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.accept-item.selected .accept-item-actions {
  display: block;
}

.accept-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px);
}

.accept-buttons {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.accept-buttons button {
  margin-right: 5px;
}

.completed-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px; 
}
@media (max-width: 600px) {
  .completed-list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.completed-item {
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(88, 129, 87, 0.2);
  color: #588157;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
  border: 1px solid rgba(7, 110, 50, 0.349);
}

.completed-item h3 {
  color: #063a21;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
}

.completed-item p {
  color: #063a21;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4; 
  font-family: 'Ebrima';
}

.completed-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.completed-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.completed-item.selected .completed-item-actions {
  display: block;
}

.completed-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px);
}

.completed-buttons {  
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.completed-buttons button {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .completed-list {
    grid-template-columns: 1fr;
  }
}

.status-container {
  display: flex;
  align-items: center; 
}

.task-container {
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
}

.card-container {
  display: inline-block;
  margin-right: 10px; 
  border: 2px solid #000000; 
  border-radius: 5px; 
  padding: 5px; 
  min-width: 12px;
  visibility: visible;
}

.cards-container {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  border: 2px solid #000000; 
  border-radius: 5px; 
  padding: 5px; 
  min-width: 12px;
  visibility: visible;
}


.text-container {
  display: flex;
  align-items: center;
}

.ongoing-indicator-container {
  width: 12px;
}

.ongoing-indicator.not-started {
  background-color: grey;
  animation: none;
}

.ongoing-indicator {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: red;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.content-container {
  display: flex;
  align-items: center;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; 
}

.responsive-image {
  max-width: 100%;
  max-height: 100vh; 
  width: auto; 
}

.delete-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #eb8a97;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  user-select: none;
  outline: none;
  text-decoration: none;
}

.delete-button:hover {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.delete-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.delete-button:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 100%;
  width: 160%;
  height: 190%;
  background-color: #f76b6b;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.delete-button:hover {
  color: #ffffff;
  border: 1px solid #f76b6b;
}

.delete-button:hover:before {
  top: -35%;
  background-color: #f76b6b;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.delete-button:hover:after {
  top: -45%;
  background-color: #f76b6b;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.confirm-button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #009087;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  user-select: none;
  outline: none;
  text-decoration: none;
}

.confirm-button:hover {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.confirm-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.confirm-button:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 100%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.confirm-button:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.confirm-button:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.confirm-button:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.tab-buttons {
  display: flex;
  margin-bottom: 40px;
}

.tab-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00A871;
  border: 1px solid rgb(7, 110, 50); ;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  margin-left: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
  background-color: #3f5159;
  border-bottom-color: transparent;
  color: white;
}


.confirmed-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px;
}
@media (max-width: 600px) {
  .confirmed-list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.confirmed-item {
  align-items: center; 
  justify-content: center;
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
  border: 1px solid rgba(7, 110, 50, 0.349);
}

.confirmed-item h3 {
  color: #063a21;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
}

.confirmed-item p {
  color: #063a21;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.confirmed-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.confirmed-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.confirmed-item.selected .confirmed-item-actions {
  display: block;
}

.confirmed-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px);
}

.confirmed-list .confirmed-item:hover::before {
  content: 'Click to show upload image';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  z-index: 1;
  font-size: 14px;
  animation: fade-in 0.8s ease; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.confirmed-buttons {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.confirmed-buttons button {
  margin-right: 5px;
}


.request-container {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(88, 129, 87, 0.2); 
}

.request-container h2 {
  font-family: 'Microsoft Sans Serif';
  align-content: center;
}

.request-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto-fit 1fr));
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .request-list {
    grid-template-columns: repeat(3, minmax(20px, 1fr));
  }
}

@media (max-width: 500px) {
  .request-list {
    grid-template-columns: repeat(2, minmax(20px, 1fr));
  }
}


@media (max-width: 480px) {
  .request-list {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
}

.request-item {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease; 
}

.request-item h3 {
  color: #063a21;
  margin: 0;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
}

.request-item p {
  color: #063a21;
  margin: 5px 0;
  font-family: 'Ebrima';
}

.request-item:hover {
  background-color: #3f5159;
  transform: scale(1.1);
}

.request-item {
  background-color: #588157; 
  color: white; 
  padding: 10px; 
  margin-bottom: 10px; 
  border-radius: 4px; 
  cursor: pointer; 
}

.request-item.selected {
  background-color: #34673d; 
}

.claim-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .claim-list {
    grid-template-columns: repeat(2, minmax(250px, 2fr));
  }
}

@media (max-width: 768px) {
  .tasks-list {
    grid-template-columns: 2fr;
  }
}


.claim-item {
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
  border: 1px solid rgba(7, 110, 50, 0.349);
}

.claim-item h3 {
  color: #063a21;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
  text-align: center;
}

.claim-item p {
  color: #063a21;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.claim-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.claim-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.claim-item.selected .claim-item-actions {
  display: block;
}

.claim-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px); 
}

.red-highlight {
  color: rgb(250, 107, 107);
}

.blue-highlight {
  color: #08bdff;
}

.green-highlight {
  color: #2cb148;
}

.video-list {
  list-style: none;
  padding-top: 40px;
  padding-left: -40px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
  gap: 20px;
}

.video-item {
  flex: 1;
  max-width: calc(75%);
}

.video-wrapper {
  position: relative;
  padding-bottom: 38%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 100vh;
  overflow-y: auto;
}

.top-border {
  border-top: 2px solid #000;
  width: 100%;
  margin-bottom: 20px;
}

.announcement-item {
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
  border: 1px solid rgba(7, 110, 50, 0.349);
}

.announcement-item h3 {
  color: #063a21;
  font-size: 1.7rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
}

.announcement-item p {
  color: #063a21;
  font-size: 1.2rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.announcement-item:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #588157; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.announcement-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.announcement-item.selected .announcement-item-actions {
  display: block;
}

.announcement-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px);
}

.chart-container .recharts-surface {
  background-color: white;
}

.task-details {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(7, 110, 50); 
  margin: 5px 0;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.completed-details {
  display: flex;
  flex-direction: column;
}

.confirmed-details{
  display: flex;
  flex-direction: column;
}

.claim-details {
  display: flex;
  flex-direction: column;
}

.reward-claim-details {
  display: flex;
  flex-direction: column;
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 998; 
}

.category-card {
  position: fixed;
  width: 30%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 8px;
  overflow: hidden;
}

.close-category-card-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #555;
}

.category-card-content {
  padding: 30px;
  max-height: 95%;
  overflow-y: auto;
}

.category-card-content h3 {
  margin: 0;
  padding: 10px 0;
}

.category-card-content button {
  padding: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .category-card {
    width: 80%; 
  }
}

@media (max-width: 600px) {
  .category-card {
    width: 80%;
  }
}

.unfocusable {
  pointer-events: none;
  z-index: 998; 
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 998; 
}

.add-reward-button {
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #34974d;
  background-color: white;
  overflow: hidden;
  margin-top: 20px;
  text-align: center; 
}

.add-reward-button, .button__icon, .button__text {
  transition: all 0.3s;
}

.add-reward-button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
  position: relative; 
}

.add-reward-button .button__icon {
  position: absolute;
  transform: translateX(100%);
  height: 100%;
  width: 39px;
  right: 0;
  background-color: #00A871;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-reward-button .svg {
  width: 30px;
  stroke: #fff;
}

.add-reward-button:hover {
  background: #ffffff;
}

.add-reward-button:hover .button__text {
  color: transparent;
}

.add-reward-button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.add-reward-button:active .button__icon {
  background-color: #2e8644;
}

.add-reward-button:active {
  border: 1px solid #2e8644;
}

.reward-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reward-table th, .reward-table td {
  border: 1px solid #063a21;
  padding: 8px;
  text-align: left;
  color: #063a21;
}

.reward-table th {
  background-color: #f2f2f2;
}

.reward-table td{
  color:#063a21;
}

.expand-indicator {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.ui-item2 {
  --bg-color: white;
  --bg-color-light: #e2fced;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
  position: relative;
  background: var(--bg-color);
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.75);
  border-radius: 21px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.ui-item2 .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.ui-item2 .circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.ui-item2 h2 {
  font-family: 'Microsoft Sans Serif';
  font-size: 12px;
  color: #4C5656;
  margin-top: 5px;
  transition: color 0.3s ease-out;
}

@media (max-width: 600px) {
  .ui-item2 {
    margin: 0 10px 10px; 
  }

  .ui-item2 .circle {
    width: 80px; 
    height: 80px; 
  }

  .ui-item2 h2 {
    font-size: 12px; 
    margin-top: 15px; 
  }
}

.ui-item2:hover {
  background-color: var(--bg-color);
  transform: scale(1.03);
  color: var(--text-color-hover);
}

.ui-item2:hover .circle {
  border-color: #00A871;
  background: var(--bg-color);
}

.ui-item2:hover h2 {
  color: var(--text-color-hover);
}

.ui-item2:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11), 0 15px 24px var(--box-shadow-color);
}


.user-request-item {
  position: relative;
  background: rgba(88, 129, 87, 0.2); 
  color: #588157; 
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
}

.user-request-item h3 {
  color: #063a21;
  font-size: 1.7rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
}

.user-request-item p {
  font-size: 1.2rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.user-request-item.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.user-request-item.selected .user-request-item-actions {
  display: block;
}

.user-request-item-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px);
}

.ui-list .ui-item2:hover::before {
  content: 'Click to show task';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  z-index: 1;
  font-size: 14px;
}

.ui-list .ui-item:hover::before {
  content: 'Click to show chart';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  z-index: 1;
  font-size: 14px;
  animation: fade-in 0.8s ease; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.accept-list .cards-container:hover::before {
  content: 'Task Indicator';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  z-index: 1;
  font-size: 14px;
  animation: fade-in 0.8s ease; 
}

.tasks-list .task-item:hover::before {
  content: 'Click to update and delete';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  z-index: 1;
  font-size: 14px;
  animation: fade-in 0.8s ease; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto-fit 1fr));
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .users-list {
    grid-template-columns: repeat(3, minmax(20px, 1fr));
  }
}

@media (max-width: 480px) {
  .users-list {
    grid-template-columns: repeat(1, minmax(20px, 1fr));
  }
}

.reward-modal h2 {
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
  color: #063a21;
  text-align: center;
}


.reward-items {
  position: relative;
  background-color: rgba(88, 129, 87, 0.2); 
  color: #063a21; 
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease; 
  box-shadow: -8px -8px 15px -8px rgba(0, 0, 0, 0.75);
}

.reward-items h3 {
  font-family: 'Microsoft Sans Serif';
  font-weight: 'bold';
  color: #063a21;
  text-align: center;
  line-height: 0.5;
  margin: 10px 0;
  font-size: 1rem;
}

.reward-items p {
  color: #063a21;
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.4;
  font-family: 'Ebrima';
}

.reward-items:hover {
  background-color: rgba(88, 129, 87, 0.2);
  transform: scale(1.03);
  color: #063a21; 
  box-shadow: 0px 0px 30px 2px #588157;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.reward-items.selected {
  background-color: rgba(88, 129, 87, 0.2); 
}

.reward-items.selected .reward-item-actions {
  display: block;
}

.reward-items-actions {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(88, 129, 87, 0.2); 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-right: 5px;
  backdrop-filter: blur(10px);
}

.task-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -2px;
}

.task-info-table th, .task-info-table td {
  border: 0.5px solid #aaaaaa;
  padding: 2px;
  text-align: center;
}

.task-info-table th {
  background-color: #f2f2f2;
}